* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


body {
  background-color: aliceblue;
  font-family: sans-serif;
}


/* ---- isotope ---- */
#wrapper{
    max-width: 1050px;
    float: right;
    width: 1050px;
}

.container {
    float:left;
    max-width: 1120px;
    width: 1110px;
    clear: right;
    background: aliceblue;
    margin: 0 auto;
}


#imageholder{
    clear: both;
    width: 350px;
    margin: auto;
}


/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .item ---- */

.itemwrap {
  float: left;
  background: darkgray;
  border: 2px solid #333;
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
}

.footer {
    clear: both;
    font-size: 20px;
}


#user_heading{
    float: right;
}

.login_area{
    float: right;
    width: 331px;
    border: 1px solid black ;
}

input[id="userbox"]{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 157px;
}

input[id="pwbox"]{
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 157px;
}

.submit{
    float: right;
    width: 50px;
    clear: right;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
#remember-me {
    float: left;
    width: 45%;
    clear: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

label[for="rem-login"]{
    font-size: small;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#name{
    padding: 20px;
}

.clearfix:after {
    display:block;
    clear:both;
}

#main-body{
    clear: both;
    text-align: center;

}

#sideLinks{
    float: left;
    width: 135px;
}

#pinwrapper{
    position: relative;
    right: -50px;
    float: left;
    width: 1110px;
    min-width: 1110px;
}
#bodywrapper{
    width: 1500px;
    min-width: 1500px;
}

#header{
    width: 1273px;
    height: 60px;
    margin-bottom: 20px;
    max-width: 1400px;
}

#redditornamebox{
    margin-top:10px;
    margin-left: 20px;
    margin-bottom: 10px;
    float:left;
}

#addToFavorites{
    margin-top:10px;
    margin-right: 20px;
    margin-bottom: 10px;
    float:right;
}

#linktoredditthread{
    clear: both;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

#subredditthiscamefrom{
    margin-left: 40px;
    margin-bottom: 10px;

    float:left;
}

#linktoimagesite{
    margin-right: 40px;
    margin-bottom: 10px;
    float: right;
}

#main_page_subreddit_list{
    width: 100%;
}

#individualsubreddit{
    width: 200px;
    margin: 10px;
    display: inline-block;
    text-align: left;
}

/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#3e3436;
}

.menu {
    width:1000px;
    margin:0px auto;
}

.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
}

.menu a {
    transition:all linear 0.15s;
    color:#919191;
}

.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#be5b70;
}

.menu .arrow {
    font-size:11px;
    line-height:0%;
}

/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}

.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}

.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}

.sub-menu li {
    display:block;
    font-size:16px;
}

.sub-menu li a {
    padding:10px 30px;
    display:block;
}

.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}



