{% load cache %}<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta name=viewport content="width=740, initial-scale=.48"/>
        <link rel="stylesheet" href="/static/css/owl.carousel.css">
        <link rel="stylesheet" href="/static/css/owl.theme.css">
        <link rel="stylesheet" href="/static/css/style2.css">
        <link rel="stylesheet" href="/static/css/slidebars.css">
        <script src="/static/js/jquery-1.9.1.min.js"></script>
        <script src="/static/js/jquery.isotope.min.js"></script>
        <script src="/static/js/owl.carousel.js"></script>
        <script src="/static/js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="http://test.gfycat.com/gfycat_test.js"></script>
        <script src="/static/js/jquery.elementresize.js"></script>

    </head>
    <body>
      <div id="sb-site">
        <div id="header">
            <div class="navicon-holder sb-toggle-left">
                <div class="sb-toggle-left">
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                  <div class="navicon-line"></div>
                </div>
            </div>
            <div class="login_area">
            {% if user.is_authenticated  %}
                <div id="user_heading">
                  {{ user.username }} | <a href="/favorites">Favorites</a> | <a href="/logout">logout</a>
                </div>
            {% else %}
                <div class="spacer">
                  <form method="post" action="/redapp/login/">

                  {% csrf_token %}
                  <input id="userbox" name="username" placeholder="username" type="text" maxlength="20" tabindex="1"><input id="pwbox" name="password" placeholder="password" type="password" tabindex="1">
                  <div id="remember-me"><input type="checkbox" name="rem" id="rem-login-main" tabindex="1">
                      <label for="rem-login">remember me</label><a class="recover-password" href=""></a>
                  </div>
                  <div class="submit">
                      <button class="btn" type="submit" tabindex="1">login</button>
                  </div><div class="clear"></div></form>
                </div>
            {% endif %}
            </div>
        </div>
        {% block body_block%}{% endblock %}


            <div class="next-button-outside"><div class="next-page-button"><a href="{{ title }}/{{ nextPage }}" class="jscroll-next">Next</a></div></div>


    </div>
  </div>
    <!-- Your left Slidebar content. -->
    <div class="sb-slidebar sb-left sb-width-custom" data-sb-width="250px">
      <ul class="sb-menu">
        <br \><br \><br \>
        {% for x in sideList %}
        <div class="sbclose sidelinktext"><a href="/r/{{ x }}">{{ x }}</a></div>
        {% endfor %}
      </ul>
    </div>

    <script src="/static/js/slidebars.js"></script>
    <script>
        var owl= $('.owl-carousel');
        owl.owlCarousel({
            margin:10,
            loop:true,
            autoWidth:true,
            items:1,
            autoplay:true,
            autoplayTimeout:4000
        })
    </script>


    <!--
    <script>
        $('.itemwrap').on('elementResize', function(event) {
            var $container = $('.container');
            $container.isotope({
                itemSelector: '.itemwrap',
                layoutMode: 'masonry',
                masonry: {
                    columnWidth: 350,
                    isFitWidth: true

                }

            });
        });
    </script>
    -->
    <!--
  <script>
      $(function(){

      var $container = $('.container'),
          $body = $('body'),
          colW = 370,
          columns = null;

      $container.isotope({
        // disable window resizing
        resizable: false,
        masonry: {
          columnWidth: colW
        }
      });

      $(window).smartresize(function(){

        // measure the width of all the items
        var itemTotalWidth = 0;
        $container.children().each(function(){
          itemTotalWidth += $(this).outerWidth(true);
        });

        // check if columns has changed
        var bodyColumns = Math.floor( ( $body.width() -10 ) / colW ),
            itemColumns = Math.floor( itemTotalWidth / colW ),
            currentColumns = Math.min( bodyColumns, itemColumns );
        if ( currentColumns !== columns ) {
          // set new column count
          columns = currentColumns;
          // apply width to container manually, then trigger relayout
          $container.width( columns * colW )
            .isotope('reLayout');
        }

      }).smartresize(); // trigger resize to set container width

      $container.imagesLoaded( function() {
          $('#images_loading').remove();
          $container.isotope('reLayout');
      });


});
  </script>
    -->
    <script>
      $(function() {
          var $container = $('.container');
          $(window).load(function () {
              $container.isotope({
                  itemSelector: '.itemwrap',
                  layoutMode: 'masonry',
                  masonry: {
                      columnWidth: 370,
                      isFitWidth: true
                  }
              });
              $('#images_loading').remove();
          });
      });
    </script>
    <script>
      (function($) {
        $(document).ready(function() {
          $.slidebars();
        });
      }) (jQuery);
    </script>
    <script>
      $(function() {
        $(document).ready(function() {
          var mySlidebars = new $.slidebars();
          $('.my-button').on('click', function() {
            mySlidebars.slidebars.open('left');
          });
          $('.my-other-button').on('click', function() {
            mySlidebars.slidebars.toggle('right');
          });
          $('.my-third-button').click(mySlidebars.slidebars.close);
        });
      });
    </script>
    </body>
</html>